<p id="notice"><%= notice %></p>

<h2>Список людей в Родительном падеже</h2>

<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>ФИО</th>
    <th>Пол</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @declensions.each do |declension| %>
    <tr>
      <td><%= declension.genitive_fname %></td>
      <td><%= declension.genitive_mname %></td>
      <td><%= declension.genitive_lname %></td>
      <td><%= link_to 'Show', declension %></td>
      <td><%= link_to 'Edit', edit_declension_path(declension) %></td>
      <td><%= link_to 'Destroy', declension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать нового человека', new_person_path %>
<br>
<br>

<%= link_to 'Смотреть в Именительном падеже', people_path %>