<p id="notice"><%= notice %></p>

<p>
  <strong>ФИО в Родительном падеже:</strong>
  <%= @declension.genitive_lname %>
  <%= @declension.genitive_fname %>
  <%= @declension.genitive_mname %>
</p>

<%= link_to 'Edit', edit_declension_path(@declension) %> |
<%= link_to 'Back', declensions_path %>
